body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
  background-color: #f0f8ff;
}
.container-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px auto 90px;
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
}

@media (width > 480px) {
  .container-layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 90px auto 90px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(169, 231, 169);
  grid-area: header;
}

main {
  /* background-color: rgba(211, 153, 221, 0.656); */
  grid-area: main;
}

footer {
  /* background-color: rgba(100, 108, 209, 0.649); */
  grid-area: footer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 70px;
}

.logo-dev {
  font-size: 2rem;
  font-weight: bold;
  color: #31297abc;
}

.logo-veg {
  font-size: 1rem;
  color: rgba(19, 135, 19, 0.737);
}

.logo-img {
  width: 40px;
}
.container-quemsoueu {
  width: 100%;
  height: 400px;
  margin: 20px;
}

/* Style circulos "Quem sou eu" */
.circle-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #26e1b5;
  width: 95px;
  height: 95px;
  background-color: #cff4ec;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 50px;
}

.circle-out {
  width: 120px;
  height: 300px;
  position: absolute;
  top: 75px;
  left: 25px;
  background-color: #fff;
  border: solid 14px transparent;
  border-radius: 80px;
  background: linear-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, 0) 70%)
      padding-box,
    linear-gradient(to bottom, rgb(207, 244, 236, 1), rgb(255, 255, 255, 0) 70%)
      border-box;
}

/* Style imagem "Sobre Mim" */
.container-quemsoueu img {
  position: relative;
  width: 500px;
  z-index: 2;
}
