body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 248, 255);
}

/* Layout telas menores que 480px*/
.container-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90px auto 90px;
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
}

@media (width < 480px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 10px;
  }

  .menu-horizontal-mobile {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

  .menu-horizontal-mobile ul {
    margin: 0;
  }

  .menu-horizontal-mobile li {
    padding: 1px 10px;
    margin: 0;
  }

  .menu-horizontal-mobile i {
    font-size: 1.5rem;
    }

  .menu-horizontal-mobile a {
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0;
  }
}

/* Configurando telas maiores que 480px*/
@media (width > 480px) {

  .header-mobile{
    display: none;
  }

  .container-layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto 90px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
  }
  .container-apresentacao {
    display: flex;
  }

  .container-apresentacao-frase h1 {
    font-size: 3rem !important;
  }

  .container-apresentacao-circles span {
    display: flex !important;
  }

  /* Configurando e ajustando circulos "Tecnology" */
  .container-apresentacao-img .circle-inner-tec {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(38, 225, 181);
    width: 95px;
    height: 95px;
    top: 175px;
    left: 50px;
    background-color: rgb(207, 244, 236);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
  }

  .container-apresentacao-img .circle-out-tec {
    width: 120px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 25px;
    background-color: rgb(255, 255, 255);
    border: solid 14px transparent;
    border-radius: 80px;
    background: linear-gradient(rgb(240, 248, 255), rgb(255, 255, 255, 0) 70%)
        padding-box,
      linear-gradient(
          to bottom,
          rgb(207, 244, 236, 1),
          rgb(255, 255, 255, 0) 70%
        )
        border-box;
  }

  /* Configurando e ajustando circulos "Nature" */
  .container-apresentacao-img .circle-inner-nature {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 179, 104);
    width: 95px;
    height: 95px;
    top: 150px;
    right: 50px;
    background-color: rgb(248, 240, 213);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
  }

  .container-apresentacao-img .circle-out-nature {
    width: 120px;
    height: 300px;
    position: absolute;
    bottom: 180px;
    right: 25px;
    background-color: rgb(255, 255, 255);
    border: solid 14px transparent;
    border-radius: 80px;
    background: linear-gradient(rgb(255, 255, 255, 0), rgb(240, 248, 255) 70%)
        padding-box,
      linear-gradient(to top, #f8f0d5, rgb(255, 255, 255, 0) 70%) border-box;
  }

  /* Configurando e ajustando circulos "Clean Code" */
  .container-apresentacao-img .circle-inner-clean {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(149, 98, 211);
    width: 95px;
    height: 95px;
    top: 325px;
    right: 30px;
    background-color: rgb(209, 189, 234);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
  }

  .container-apresentacao-img .circle-out-clean {
    width: 300px;
    height: 120px;
    position: absolute;
    top: 300px;
    right: -180px;
    background-color: rgb(255, 255, 255);
    border: solid 14px transparent;
    border-radius: 80px;
    background: linear-gradient(
          to right,
          rgb(240, 248, 255),
          rgb(255, 255, 255, 0) 70%
        )
        padding-box,
      linear-gradient(
          to right,
          rgb(209, 189, 234, 1),
          rgb(255, 255, 255, 0) 70%
        )
        border-box;
  }

  /* Configurando e ajustando circulos "" azul */
  .container-apresentacao-img .circle-out-blue {
    width: 120px;
    height: 300px;
    position: absolute;
    bottom: 350px;
    left: 60px;
    background-color: rgb(255, 255, 255);
    border: solid 14px transparent;
    border-radius: 80px;
    background: linear-gradient(rgb(255, 255, 255, 0), rgb(240, 248, 255))
        padding-box,
      linear-gradient(to top, rgb(218, 233, 255), rgba(252, 217, 217, 0) 70%)
        border-box;
  }

  /* Configurando e ajustando circulos "" red */
  .container-apresentacao-img .circle-out-red {
    width: 120px;
    height: 300px;
    position: absolute;
    bottom: 300px;
    right: 180px;
    background-color: rgb(255, 255, 255);
    border: solid 14px transparent;
    border-radius: 80px;
    background: linear-gradient(rgb(255, 255, 255, 0), rgb(240, 248, 255))
        padding-box,
      linear-gradient(to top, rgb(254, 231, 239), rgb(255, 255, 255, 0) 70%)
        border-box;
  }
  .container-apresentacao-img {
    height: 450px;
  }

  .container-apresentacao-img img {
    height: 100% !important;
  }
  .container-quemsoueu {
    display: flex;
  }

  .container-academico {
    display: flex;
  }

  .container-contato {
    display: flex;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgb(223, 235, 242);
  grid-area: header;
  z-index: 100;
  border-bottom: 1px solid rgb(128, 76, 253, 0.3);
}

main {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 20px;
  grid-area: main;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(213, 226, 238, 0.62);
}

/* Configurando e ajustando o Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 70px;
  padding-left: 20px;
}

.logo-dev {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(49, 41, 122, 0.737);
}

.logo-veg {
  font-size: 1rem;
  color: rgba(19, 135, 19, 0.737);
}

.logo-img {
  width: 30px;
}

/* Configurando e ajustando o menu hotizontal no header */
.menu-horizontal {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  gap: 30px;
}

.menu-horizontal a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: rgb(0, 51, 102);
  transition: background-color 0.3s ease;
  width: 100px;
  border-radius: 10px;
}

.menu-horizontal a:hover {
  padding-bottom: 2px;
  color: rgb(3, 9, 16);
  border-bottom: 1px solid #a2a2a2;
  border-radius: 0;
}

.menu-horizontal a.activeLink {
  color: rgb(232, 123, 72);
  font-weight: bold;
}

/* Configurando e ajustando o botão "Contato" no header */
.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(128, 76, 253);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 2px 2px 5px rgb(128, 76, 253);
  margin-right: 20px;
}

.contato a {
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.contato:hover {
  color: rgb(3, 9, 16);
  transform: translateY(-1px);
  background: #804cfd99;
}

/* Configurando e ajustando container main */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Configurando e ajustando o container apresentação */
.container-apresentacao {
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 100px;
}

/* Configurando e ajustando o container da FRASE de apresentação */
.container-apresentacao-frase {
  width: 100%;
  margin: 0;
  padding: 0 10px 0 10px;
}

.container-apresentacao-frase h1 {
  display: block;
  width: 270px;
  font-size: 2rem;
  margin: 0;
}

.container-apresentacao-frase h1 span {
  color: rgb(255, 104, 32);
}

.container-apresentacao-frase h3 {
  font-size: 0.9rem;
  font-style: italic;
}

.container-apresentacao-frase p {
  font-size: 1.2rem;
}

.container-apresentacao-frase i {
  color: rgb(101, 211, 101);
}

/* Configurando e ajustando o container da IMAGEM de apresentação */
.container-apresentacao-img {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

/* Configurando e ajustando IMAGEM na apresentação */
.container-apresentacao-img img {
  height: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
  height: 250px;
}

/* Configurando e ajustando container Quem sou Eu */
.container-quemsoueu {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-top: 100px;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 100px;
}

/* Configurando e ajustando o container da imagem Quem sou Eu */
.container-quemsoueu-img {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

/* Configurando e ajustando a IMAGEM Quem sou Eu */
.container-quemsoueu-img img {
  width: 100%;
  overflow: hidden;
}

/* Configurando e ajustando o texto Quem sou Eu */

.container-quemsoueu-tex h1 {
  color: rgba(49, 41, 122);
  text-align: center;
}

.container-quemsoueu-tex {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: justify;
  margin: 0;
}

.container-apresentacao-circles span {
  display: none;
}
/* Configurando e ajustando o texto Acadêmico */
.container-academico {
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 100px;
}

.container-academico-text {
  width: 100%;
}

.container-academico-text ul {
  list-style-type: none;
}

.container-academico-text li {
  padding-top: 15px;
}

.container-academico-text i {
  padding-right: 5px;
  color: rgb(242, 84, 27);
}

.container-academico-text h1 {
  text-align: center;
  color: rgba(49, 41, 122);
}

.container-academico-img {
  width: 100%;
}

.container-academico-img img {
  width: 100%;
  overflow: hidden;
}

/* Configurando e ajustando o container formulário para contato */
.container-contato {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding-top: 40px;
}

/* Configurando e ajustando o container imagem do formulário para contato */
.container-contato-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Configurando e ajustando a imagem do formulário para contato */
.container-contato-img img {
  width: 700px;
  overflow: hidden;
  object-fit: cover;
}

form {
  width: 100%;
}

/* Configurando e ajustando o container formulário para contato */
.container-contato-form {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.container-contato-form h1 {
  color: rgba(49, 41, 122);
  text-align: center;
}

.container-contato-form label {
  padding-bottom: 5px;
  padding-top: 10px;
}

.container-contato-form .campo {
  border-radius: 3px;
  border: 1px solid rgb(128, 76, 253, 0.3);
  padding: 8px;
}

.container-contato-form .botao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contato-form .botao button {
  background-color: rgb(128, 76, 253);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 2px 2px 5px rgb(128, 76, 253);
  color: #fff;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-top: 15px;
  width: 155px;
  border: 0;
}

.container-contato-form button:hover {
  color: #fff;
  background: #804cfd99;
  transform: translateY(-1px);
}

/* Configurando e ajustando o footer com GitHub e LinkedIn */
.container-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.container-links i {
  font-size: 30px;
  color: rgb(242, 84, 27);
}
